rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Смета: users/{uid}/data/main
    match /users/{userId}/data/{estimateId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
